Hd.Wallet.Android/.idea
Hd.Wallet.Android/.gradle

api/Hd.Wallet.OCR.Service/.idea
api/Hd.Wallet.OCR.Service/uploads
api/Hd.Wallet.OCR.Service/ekyc/verification_models/weights

api/Hd.Wallet.BalanceTrackingService/node_modules
