Hd.Wallet.Android/.idea
Hd.Wallet.Android/.gradle

api/Hd.Wallet.OCR.Service/.idea
api/Hd.Wallet.OCR.Service/uploads
api/Hd.Wallet.OCR.Service/ekyc/weights
api/Hd.Wallet.OCR.Service/env
api/Hd.Wallet.OCR.Service/venv

api/Hd.Wallet.BalanceTrackingService/node_modules
api/Hd.Wallet.TransactionService/node_modules
api/HD.Wallet.BankingApi/.vs

api/HD.Wallet.BankingApi/Services/*/obj
api/HD.Wallet.BankingApi/Services/*/bin

api/HD.Wallet.BankingApi/HD.Wallet.Shared/bin
api/HD.Wallet.BankingApi/HD.Wallet.Shared/obj

api/HD.Wallet.BankingApi/Gateways/Clothes.GatewayApi/bin
api/HD.Wallet.BankingApi/Gateways/Clothes.GatewayApi/obj

.idea