<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OCRBanking_MobileApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.privacyAndSecurity.ChangePincodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.privacyAndSecurity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.privacyAndSecurity.PrivacyAndSecurity1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.privacyAndSecurity.PrivacyAndSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.funds.FundActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.notifications.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dev.WriteNfcActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.transactionTab.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transfer.bankTransfer.FindDestBankAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transfer.bankTransfer.FindBankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.statistic.StatisticActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nfcScan.IdCardNfcScanActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.transfer.MenuTransferActivity"
            android:exported="false" />
        <activity
            android:name=".ui.accountBank.DetailAccountBankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addCardOrAccount.LinkingBankSuccessfullyActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".ui.qr.QrTransferActivity"
            android:exported="false"
            android:theme="@style/CameraActivityStyle" />
        <activity
            android:name=".ui.qr.MyQrActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addCardOrAccount.AddLinkingBankActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.addCardOrAccount.AddCardOrAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transfer.TransferToBankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transfer.TransferToFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contacts.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegistrationSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transfer.TransferMoneyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.main.DepositMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.NotificationActivity"
            android:exported="false" />

        <service
            android:name=".backgroundServices.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.facialRecognition.FacialRecognitionActivity"
            android:exported="false"
            android:theme="@style/CameraActivityStyle" />
        <activity
            android:name=".ui.main.MainHomeActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="application/vnd.com.example.cccd" /> <!-- Thay đổi mimeType nếu cần -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.SignUpAccountActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.register.RegisterCheckOtpActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.transfer.SuccessfulTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.DetailedAddressAtivity"
            android:exported="false" />
        <activity
            android:name=".ui.facialRecognition.IntroduceFacialRecognitionActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.register.ConfirmInformationActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.idCardTaken.IdCardTakenActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/CameraActivityStyle" />
        <activity
            android:name=".ui.idCardTaken.GettingTakenIdCardActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.register.RegisterEnterPhoneActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.register.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Main1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>